APP_PORT=""
POSTGRES_URL="postgresql://postgres:postgres@postgres:5432/postgres"
JWT_SECRET="some_very_long_and_random_secret"
REDIS_URL="redis://redis:6379"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="postgres"